body {
    font-family: sans-serif;
    background: linear-gradient(69deg, lightgreen, lightgrey);
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-69-deg {
    transform: rotate(69deg);
}

article {
    max-width: 80%;
    margin: 0 auto;
    color: hsla(240, 75, 25, 1);
}